body{
    background-color: #808080;
    color: white;
    font-family: serif;
}


.center{
    text-align: center;
    margin: auto;
}


.space_1{
    width: 100%;
    height: 150px;
}

.space_2{
    width: 100%;
    height: 50px;
}
.title{
    border-bottom: 4px solid white;
    width: 100%;
    height: 50px;
    text-align: center;
    margin: auto;
  }

.inp{
    text-align: center;
    margin: auto;
}
